<% content_for(:head) do %>
<%= javascript_include_tag "micropost-counter" %>
<% end %>

<%= form_for @micropost do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
<div class="counter"><p id="micropost_counter"></p></div>
<div class="field">
  <%= f.text_area :content %>
</div>
<div class="actions">
  <%= f.submit "Submit" %>
</div>
<% end %>
